[2016-04-21 07:52] jamesdixon opened #4 "Pretty print in dev?"
Hi! I was looking for something a bit more lightweight than good and stumbled across pino. I saw that there is a command line utility to pretty print a log file -- is it possible to pretty print while in development only? I obviously use the console and the JSON is a bit difficult to read -- would be great to be able to view logging in 'pretty mode' while developing.

Cheers.

[2016-04-21 07:55] mcollina commented on #4
you just have to do:

[code]

[code]

Or were you thinking doing something different? Maybe turned on/off via a flag?

[2016-04-21 08:02] jamesdixon commented on #4
Hmm, I can't seem to get that to work.

[code]

I was thinking more along the lines of a flag, so I could just set the flag based on my environment.

[2016-04-21 08:02] jamesdixon commented on #4
That said, if I can get the solution you recommended to work, that's all good too 👍

[2016-04-21 08:03] jamesdixon commented on #4
Ah, only one pipe needed!

[2016-04-21 08:05] jamesdixon commented on #4
However, just tried this same method with tests and the pretty output doesn't seem to work. Have you tried that when using Hapi/Lab?

[2016-04-21 08:16] mcollina commented on #4
oh, that's an interesting use case. No, I never did as I usually turn off all the logging in test (too noisy for me). However I'm open to support it somehow.

So, I think we should export the pretty-printer as a transform stream from pino.
something like:

[code]

Or maybe something in pino:

[code]

which automatically pretty prints (based on the above anyway).

@davidmarkclements what do you thi

[2016-04-21 09:35] davidmarkclements commented on #4
If we do a `{devmode: true}` you may as well go the whole hog and make it a flag.

I think a flag is more Hapi style (probably why @jamesdixon was originally looking for a flag)

However, exporting the pretty printer is more pino style (this is same old framework vs modularity contention).

This is a hapi plugin, I think it should conform to the common paradigms users of Hapi are familiar with, so

[2016-04-21 09:48] mcollina commented on #4
@geek is there a way we can detect if we inside a Lab test? Or Hapi is being tested? Or Hapi is in production?

I think we can support a combination of:

* `PRETTY_PINO=true`
* `pino({ devPretty: true })` - support `devPretty` in pino (I'm 👎  on this)
* `--dev-pretty` from the CLI options - it might not be a good idea, because other programs might not like if we are adding stuff to the arguments
*

[2016-04-21 10:27] davidmarkclements commented on #4
Good point on flags.

I think the environment var is better, but call it `PRETTY_DEV_LOGS` and it's ignored if NODE_ENV is production

In terms of export, what if we:

`pino.stream.pipe(require('pino-transform')).pipe(process.stdout)`

[2016-04-21 11:31] mcollina commented on #4
[code]

Won't work. the stream is passed in through. Also, I do not want pino to depend on pino-transport, so I ill all put it inside pino :).

So I think we should:

1. expose the transform from pino `bin.js`.
2. add a `devPretty` flag in pino to pretty print, which is automatically disabled if `NODE_ENV=production`

This will make this behavior non-specific to hapi-pino, because I think it's mor

[2016-04-21 16:32] jamesdixon commented on #4
I personally like the simple flag as an option when registering the Hapi plugin. Then you can do something like to determine whether to run the pretty printer in a specific environment:

[code]

It also doesn't make any assumptions about the environment (ex: some people may use 'prod' rather than 'production').

Thoughts?

[2016-04-22 20:23] #4 closed

[2016-04-22 20:24] mcollina commented on #4
Pretty print is released in v1.1.0. Let me know what you think @jamesdixon!

[2016-04-22 21:06] jamesdixon commented on #4
Awesome! I'll give it a shot in a few. Thanks :)

[2016-04-22 21:53] jamesdixon commented on #4
Works beautifully 👍

[2016-04-22 22:11] jamesdixon opened #6 "more pretty printing :)"
It's me again! lol...

Any thoughts on getting more pretty printing? This may be asking for too much and other tools may be able to help do the job, but curious if the whatever pretty printing method you're using has any option to color JSON output? ~~and stack traces? I actually gave @davidmarkclements `cute-stack` lib a try, but getting an error at the moment.~~ I love the console, but as you kn

[2016-04-23 02:51] davidmarkclements commented on #6
Hey @jamesdixon cute-stack is for formatting stack traces, kind of a different thing. However feel free to open an issue on cure-stafk if can't resolve the error

One thing you could try, is passing the json through bunyan or bole CLI tools which also provide formatting - pino's JSON output is fairly consistent with both so I'm guessing it'll work

[2016-04-23 03:14] jamesdixon commented on #6
@davidmarkclements yep, I'm aware :) Re-reading my statement above, it's a bit confusing. What I meant was that I was looking for something to get not only my logging, but stack traces formatted nicely as well -- hence trying your module for that the latter purpose. Sorry for the confusion!

[2016-08-16 16:28] jrcastillo opened #9 "Only allow logging when wanted"
I just started using this library (is awesome BTW), but I have a question, is there anyway to restrict the library from logging at all the events explained at the `README.md` ?

I wish to set the log at certain moments and not take into consideration those events specified by the documentation. Also this brings up to mind, if I should really use this extension or use `pino` instead.
Also I wish to

[2016-08-16 16:49] mcollina commented on #9
Can you make some examples of what you do not want to log? Just to understand better what your issue is.

[2016-08-16 17:12] jrcastillo commented on #9
Here is the example of how I currently configured the `hapi-pino` extension:
`server.js`
[code]
and without doing anything else, this turns out to be my `output.log`
[code]
As you can see, the log file contains log requests, responses and contains many others but it would make the example really big so I shortened it out.

I don't wish to log this kind of operations, I would just want to log error

[2016-08-17 06:45] mcollina commented on #9
A couple of things:

a. pino does not support saving different levels to different files. That logic slows things down. It should be fairly easy to write another little tool that does that so you can pipe them (if you do, send a PR to the pino README with a link).

b. I don't think it's currently possible to disable request logging, but I'm open to a pull request in that regard, basically we shoul

[2016-08-17 18:27] jrcastillo commented on #9
As soon as I can I'll have a look at the code and check to see if I can add the PR with the customization of levels to log.

[2016-10-28 09:06] davidmarkclements opened #10 "use pino-noir to redact cookies"
to stay inline with https://github.com/pinojs/pino-http/issues/13

[2016-11-21 02:30] yonjah opened #11 "Can this be implemented as a Good stream ?"
What the advantage of having an independent Hapi plugin and not relying on `Good` ?

Having `pino` as a Good compatible stream have a few clear advantages (like getting filtering and any other Good preprocessors  to work out of the box). There might be some performance implications but I can assume that for a very basic pipeline it should be negligible.

It would be great if the benchmark code tha

[2016-11-21 06:33] mcollina commented on #11
This is what I have been using https://github.com/pinojs/hapi-pino/blob/master/example-good.js. Redirecting it to /dev/null, and launching an http load test with autocannon or wrk.

My initial assessment on all those filters is that their impact is far from negligible. Streams pipelines, specifically, introduce serious overhead.

As anything performance-related, we will be super happy if good (and

[2016-11-23 15:07] yonjah commented on #11
I've created a very simple implementation of `hapi-pino` as good stream https://github.com/pinojs/hapi-pino/pull/12
I'm not sure if all the events data is properly logged but this is enough for benchmarks.

since the results were really close I ran `autocannon -c 50 -d 30 localhost:3000` twice without restarting the example server and got the following results -

[code]

[code]

[code]

`good-pino

[2017-02-13 22:29] shinzui opened #13 "Logging request payload"
Is it possible to add an option to log the request's payload?

[2017-02-14 08:54] mcollina commented on #13
This is currently not possible because of https://github.com/pinojs/hapi-pino/blob/master/index.js#L15-L18.

But I'd be very glad to receive a PR to add support for custom serializers.

[2017-05-16 17:02] juanjoLenero opened #15 "Merge hapi log event data into pino serialized object."
I would like to stick to the hapi logging interface, but at the same time take advantage of the properties serialized by pino.

Current behaviour is this (hapi-pino 1.4.1):
[code]
But I would rather see:
[code]
In short, I would like to be able to merge Hapi log event data properties into pino's object root instead of under the `data` key.

edit: I would also like to see this:
[code]

[2017-05-16 17:10] davidmarkclements commented on #15
What about collisions?

[code]

[2017-05-16 17:16] juanjoLenero commented on #15
@davidmarkclements I think pino already explains that both keys would end up in the output, your example would result in:
[code]
I don't think that would be a problem, since that's what is already expected of pino.

[2017-05-16 17:18] davidmarkclements commented on #15
they would - but once parsed (say by an intermediate transform/transport/when stored in a db perhaps) the second `tags` would override the first

[code]

[2017-05-16 17:32] juanjoLenero commented on #15
That's what I would expect after reading pino's documentation. The concern here is that you could add an external hapi plugin that uses the log interface and inadvertently overwrites one of pino's main properties (`level`, `name`, ... etc) right? And I guess that would leave you no clean way of handling the conflict.

In my use case, none of the plugins I'm using do any logging. So I control all c

[2017-05-16 17:42] juanjoLenero commented on #15
This might be a bit hackish but what about explicitly opting in to the merging of the properties with a custom key and a boolean value.

E.g.
[code]
Would checking for the special property and doing the merge constitute a substantial performance hit?

[2017-05-16 18:53] davidmarkclements commented on #15
Yeah no where else in pino do we allow for opt setting on a log object, and I think it would esoteric to do it here.

@mcollina made the design choice, I think we've scrutinised a primary reason for it - perhaps there's more - @mcollina what's your thoughts?

[2017-05-17 08:29] mcollina commented on #15
The reason for this is well described in https://github.com/pinojs/hapi-pino/issues/15#issuecomment-301856371.

However, I'm happy to reconsider and merge them.. if two things overlap, no big deal. Can we make this a plugin-level option? That would work well for this.

[2017-05-17 15:23] juanjoLenero commented on #15
Sure, a plugin-level option would work. Just to be clear, that's a no-go on the opt-in key inside hapi's log data?

Also, the change seems trivial enough, I could open a PR if you like.

[2017-05-17 15:35] mcollina commented on #15
Can you clarify?

[2017-05-17 15:55] davidmarkclements commented on #15
@mcollina I believe @juanjoLenero is referring to not setting hapi-pino options through log message objects based on me saying "no where else in pino do we allow for opt setting on a log object" and you saying "Can we make this a plugin-level option?"

[2017-05-17 15:59] juanjoLenero commented on #15
I'm refering to this: https://github.com/pinojs/hapi-pino/issues/15#issuecomment-301859212

Say we go with the plugin-level option.
[code]
And now everything works as I detailed in the opening post of this thread.

Down the line I add a third party plugin say a server metrics reporter that uses Hapi's logging interface and is unaware that we are delegating to pino.

If this new plugin were to incl

[2017-05-17 16:22] mcollina commented on #15
@juanjoLenero 👍

[2017-05-17 16:23] mcollina commented on #15
would you mind sending a PR?

[2017-05-17 16:34] juanjoLenero commented on #15
Not at all, I will implement it as a plugin-level option that toggles between merging the data or adding it under a `data` key (current behaviour).

[2017-05-17 17:38] juanjoLenero commented on #15
PR is ready at https://github.com/pinojs/hapi-pino/pull/16.

[2017-05-23 06:12] #15 closed

[2017-05-23 06:15] mcollina commented on #11
Closing as we will not be pursuing this direction (see the discussion in #12).

[2017-05-23 06:15] #11 closed

[2017-05-23 06:16] mcollina commented on #6
I think we can close this, but feel free to reopen in case.

[2017-05-23 06:16] #6 closed

[2017-05-23 17:32] juanjoLenero commented on #9
I could look into this if it's still needed/wanted.

Maybe a plugin-level option: `logEvents`.

[code]
Omitting any of the events would disable that specific log callback in hapi-pino.

[2017-05-23 17:34] juanjoLenero commented on #13
Wouldn't this be a matter of not overwriting the specific serializers?
E.g. Going from this:
[code]
To this:
[code]

[2017-05-25 09:12] mcollina commented on #13
yeah! would you like to send a PR? We might also think about embedding http://npm.im/pino-noir

[2017-05-25 09:12] mcollina commented on #9
@juanjoLenero 👍 , would you like to send a PR?

[2017-05-26 17:49] mcollina commented on #9
Fixes by #17.

[2017-05-26 17:49] #9 closed

[2017-07-06 09:10] felixheck commented on #13
@shinzui @juanjoLenero @mcollina any progress on this task?

[2017-07-06 09:23] mcollina commented on #13
@felixheck would you like to send a PR?

[2017-07-06 09:32] felixheck commented on #13
It's just the change mentioned by @juanjoLenero?
Or wouldn't it be easier with

[code]

[2017-07-06 09:37] mcollina commented on #13
I think we need the changed mentioned in https://github.com/pinojs/hapi-pino/issues/13#issuecomment-303475554, and yours is good as well.

[2017-07-06 09:42] felixheck commented on #13
Okay, so I'm gonna combine both and send a PR.

[2017-07-06 13:49] mcollina commented on #13
#18 has been released as 1.7.0.

[2017-07-06 13:49] #13 closed

[2017-07-11 14:00] felixheck opened #19 "Differ between `server.log` and `request.log` in `prettyPrint.formatter`"
Hey guys,

is it possible to detect if logs are created with `server.log` or with `request.log`?
Is it enough to check if the logged message contain a `req` property?

Thanks.

[2017-07-11 14:01] mcollina commented on #19
Yes, I think the main difference would be a `req` property.

[2017-07-11 14:03] felixheck commented on #19
I disable `mergeHapiLogData` so it might be enough..hmm..let's try 👍
Thanks @mcollina

[2017-07-11 14:03] #19 closed

[2017-07-18 01:50] robinjoseph08 opened #20 "Cannot read property 'info' of undefined"
Using `hapi-pino` in our development and staging environments seem to be fine, but when we add it to production, every now and then, we see this error:

[code]

Digging in a bit deeper, it seems like the [`onRequest` extension point](https://github.com/pinojs/hapi-pino/blob/1f411d7bccfeb0b6d3ecb47c27467ef8ee9af118/index.js#L58-L61) isn't being called so `request.logger` isn't being set. I'm not su

[2017-07-18 07:36] mcollina commented on #20
I think you should update your hapi version to something more recent.

[2017-09-03 04:08] robinjoseph08 commented on #20
Hey @mcollina, it took a while, but I finally upgraded to v16.5.2 and it looks like the error is still happening. The only difference in the stance trace is that the error is being emitted through `podium` instead of `EventEmitter` which is to be expected from the upgrade.

[2017-09-03 10:24] mcollina commented on #20
Can you send some code to reproduce your problem? Or maybe send a PR with a fix?

[2017-09-06 23:12] hueniverse opened #22 "Don't use 'app' space for plugin state"
https://github.com/pinojs/hapi-pino/blob/master/index.js#L52

[2017-09-07 06:55] #22 closed

[2017-10-22 10:05] felixheck opened #24 "Support hapi v17"
Hi there!

Because one of my plugins is relying on `hapi-pino` and I use it in several projects with the latest stuff, I was wondering if you guys already work on supporting the `v17.0.0` of `hapi` which seems to be released at 1st of November :)

Thanks and best.

[2017-10-22 10:06] mcollina commented on #24
Not right now, but if you want to send a PR it will be extremely welcomed!

[2017-10-22 10:13] felixheck commented on #24
Have to update my own plugins first..as soon as I have some time left :)
Thanks for your fast reply.

Would like to leave the issue opened. Maybe there's another guy having some time for the PR.

[2017-10-24 18:58] timcosta commented on #24
Normally this is a top level issue, but I'll add it here seeing as this is already open.

### Overview
If you are not aware yet, Hapi v17 is making the transition from callbacks to `async`/`await`, as well as deprecating some other rarely used functionality. This is a breaking change that may make your plugin no longer compatible with the Hapi API.

#### Changelog
Draft release notes can be found

[2017-10-27 07:31] mcollina commented on #24
This is done in #25. Please provide feedback, as Hapi is _very_ different.

[2017-11-03 11:09] #24 closed

[2017-11-10 16:47] deedubs opened #26 "Support option for ignoring paths"
Our hapi servers export a `/healthz` it would be nice if we could omit those requests from the logs.

Would you be open to a PR for this functionality?

I know another option would be to pipe to a filter but I wanted to see the appetite for this built in.

[2017-11-10 17:34] mcollina commented on #26
Definitely, you might want to use find-my-way to match the routes.

[2017-11-10 20:16] davidmarkclements commented on #26
related: https://github.com/pinojs/pino-http/issues/40 (@mcollina - perhaps not implementation but the idea.. path ignoring)

[2017-11-11 14:29] QuantumDream opened #27 "Error: cannot enable pretty print when stream specified"
Hello guys, maybe I'm missing something but when I follow the example I get the error speficied in the title, my index.js looks like this:

[code]

This is the full error in the console (I have shortened the paths):

[code]

I'm using node@8.9.1, hapi@17.0.1 and hapi-pino@3.0.0, can you maybe help me here? I tried specifying the stream again in the options but that didn't help.

[2017-11-12 16:06] davidmarkclements commented on #27
Hapi 17 is not backwards compatible - it's likely that hapi-pino needs to be updated to work with the new hapi

[2017-11-12 16:15] mcollina commented on #27
hapi-pino@3.0.0 is compatible with Hapi v17, @davidmarkclements

[2017-11-13 09:09] #27 closed

[2017-11-13 09:10] mcollina commented on #27
Fixed in 3.0.1

[2017-11-15 11:51] felixheck opened #31 "Hapi Event Description"
As far as I understand the current hapi v17 docs and the implementation of `hapi-pino`, its docs should be something like:

### Hapi Events

**hapi-pino** listens to some Hapi events:

* `'onRequest'`, to create a request-specific child logger
* `'response'`, to log at `'info'` level when a request is completed
* `'request'`, **to support logging via the Hapi `request.log()` method and to log at `

[2017-11-15 11:54] mcollina commented on #31
very likely. Would you mind to fire a PR?

[2017-11-15 11:55] felixheck commented on #31
Yep, gonna push the PR in a few mins 👍

[2017-11-15 12:09] felixheck opened #33 "Handling of `request` logs on `app` level"
Currently the event listener for `request` just gets added if `request` is listed in `options.logEvents`. AFAIK in former versions of `hapi-pino` all `request.log()`/`server.log()` gets logged.

So IMHO the `request` event should be registered anyway but the `event.error` part just if `request-error` is listed in `hapi-pino`.

[2017-11-15 12:15] mcollina commented on #33
Sounds reasonable. Would you mind to fire a PR?

[2017-11-15 12:35] felixheck commented on #33
Done!

[2017-11-15 19:31] #26 closed

[2017-11-15 19:32] #33 closed

[2017-11-15 19:33] #31 closed

[2017-12-01 00:19] zol opened #36 "Cannot enable prettyPrint"
### Versions
[code]

### Error

[code]

### Code

[code]

[2017-12-06 10:41] kanongil opened #37 "Use greater log level if multiple tags have levels"
If I add a custom tag to set the priority of a class of logs, eg. `tags: { myaddon: 'debug' }`, I would expect logs that also include the `'error'` tag to have the error level (without being dependent on the order of the tags).

[2017-12-06 11:14] mcollina commented on #37
I'm not 100% sure on how to do that, would you mind sending a PR?

[2017-12-08 18:44] #37 closed

[2017-12-25 13:16] microcipcip opened #41 "Use Hapi Pino externally"
I am correct to assume that if I need to use pino outside the server/request (in my case inside a mongo model) I need to import the main pino library directly?

[2017-12-25 14:35] mcollina commented on #41
Either way is fine, but you should have a single instance of the logger itself.

I would recommend to initialize the persistence logic in its own Hapi plugin. From there, you can create a child of the server logger.

[2017-12-25 17:01] microcipcip commented on #41
Ok, thanks a lot :)

P.S. I saw your talk about Pino, amazing job :)

[2017-12-25 17:56] microcipcip commented on #41
Do I have to initialize a Pino log and pass it to the `[instance]` parameter? Could you provide a simple example of how I could achive this? Sorry, I am relatively new to Node

[2018-01-07 19:28] ferrao opened #44 "prettyPrint does not work well with multiple servers"
I instantiate 3 different servers and register `hapi-pino` into all 3 with `prettyPrint=true`, but only the first server to register will have pretty logs.

[2018-01-07 19:29] mcollina commented on #44
Would you like to send a PR to fix this?

[2018-01-07 19:33] ferrao commented on #44
Sure thing, I can take a stab at it.

[2018-01-07 22:06] ferrao commented on #44
Problem is this line :

https://github.com/pinojs/hapi-pino/blob/8529345f330050302eb6b867b318a767dd604dcd/index.js#L36

Because I am registering the server multiple times with the same options object, after the first registration the original options object does not contain the `prettyPrint` flag enabled.

Its easy for me to supply a different options object on every registration, but I would argu

[2018-01-07 22:25] felixheck commented on #44
Cloning the options object in case internal mutations seems legit in my point of view

[2018-01-08 08:14] mcollina commented on #44
Feel free to send a PR.

[2018-01-08 11:47] ferrao commented on #44
@mcollina can you shed some light on this black magic:

[code]

[2018-01-08 14:48] mcollina commented on #44
what do you not understand? It's node.js streams!

[2018-01-08 16:16] #44 closed

[2018-01-10 08:50] ferrao commented on #44
The `split(JSON.parse)` expression confused me.

[2018-01-10 08:54] mcollina commented on #44
It is this one: https://github.com/mcollina/split2#ndj---newline-delimited-json

[2018-01-10 09:34] felixheck opened #46 "Merging/Cloning Options (v4.0.0) breaks"
![image](https://user-images.githubusercontent.com/14093205/34765026-ab3d20d6-f5f0-11e7-923b-1e629e03ceab.png)

After updating the hapi-pino to 4.0.0 I get this errors.
Seems the `Hoek.merge` results in some kind of loop so that the maximum call stack is exceeded.

that works like a charm for me instead:
[code]

[2018-01-10 09:49] mcollina commented on #46
Can you send a PR with a unit test, so we avoid this regression?

[2018-01-10 10:52] felixheck commented on #46
of course :)

[2018-01-10 11:06] mcollina commented on #46
Fixed in #47

[2018-01-10 11:06] #46 closed

[2018-02-20 21:54] tiagoalves commented on #26
I need to silence our `/healthz` polling logs as well and tried to use the new `ignorePaths` feature in PR #30. However, it's not flexible enough for my use case since it matches the routes against `request.url.path` which includes the request's query params but my query params can have dynamic values.

Just in case it helps someone in the future, I ended up silencing our logs with this micro hapi

[2018-03-28 13:22] eppak opened #52 "Example Code"
Hello,
i noticed that the example is not working for me, it register a require('.') but need require('hapi-pino'), i suppose that in the package it refer to itself so there is fine.

Is my assumption correct?
Thanks.

[2018-03-28 13:36] davidmarkclements commented on #52
that's right - the example is intended to be run in the repo itself

this is a commonly occurring approach to `example.js` files

[2018-03-28 13:36] #52 closed

[2018-03-28 13:37] davidmarkclements commented on #41
example in repo folder

[2018-03-28 13:37] #41 closed

[2018-03-28 13:39] davidmarkclements commented on #36
closing for now, assuming as fixed

@zol if you still have an issue here please reopen!

[2018-03-28 13:39] #36 closed

[2018-03-28 13:40] davidmarkclements commented on #20
closing for now, assuming as fixed

@robinjoseph08 if you still have an issue here, please reopen!

[2018-03-28 13:40] #20 closed

[2018-04-30 16:41] devourment77 opened #54 "Disable logging for a specific route"
Knowing that hapi-pino will log responses at level info, what would the way to go about omitting a health check route from this (while keeping other responses still logging).

Thanks!

[2018-04-30 16:48] mcollina commented on #54
This should help you: https://github.com/pinojs/hapi-pino/blob/master/index.js#L64-L68.

It's not documented, maybe would you mind to send a PR to document the option?

[2018-04-30 18:37] devourment77 commented on #54
Done! See https://github.com/pinojs/hapi-pino/pull/55

[2018-05-01 10:53] mcollina commented on #54
Thanks!

[2018-05-01 10:53] #54 closed

[2018-05-06 17:30] devourment77 opened #56 "Logging res body in 'response' event?"
I noticed that the response event is sending `res: request.raw.res` and while I do see the response status code and headers in the log, I do not see the response body content / json.

Is there a config option to enable this? Kind of surprised it was not included in request.raw.res.

Thanks!

[2018-05-07 06:16] davidmarkclements commented on #56
You would need a custom, see the serializers option

Logging the body is not recommended from a performance perspective

[2018-05-07 06:16] #56 closed

[2018-05-07 18:27] marianozunino opened #57 "Just a question.."
I would like to add some extra info to the request. It could be inside the request, o another key. Is it possible? I tried whith the following plugin, but then pino creates another log.

[code]

[code]

[2018-05-07 19:45] felixheck commented on #57
I'd suggest to use a custom serializer for this purpose.

Further information in the docs of the plugin, of [pino](https://github.com/pinojs/pino/blob/master/docs/API.md#stdSerializers) and [pino-http](https://github.com/pinojs/pino-http)

[2018-07-17 16:46] AndreasChristianson opened #58 "Accept a min log level as an option"
By default Pino logs info level and higher messages. This can be changed via https://github.com/pinojs/pino/blob/master/docs/API.md#level

It would be convenient to pass in the minimum level as an option so that this doesn't have to be configured in a separate step.

Possible api change:
[code]

[2018-07-17 16:47] mcollina commented on #58
I think you should be able to pass `{ options: { level: 'debug' } }`. Is that not working?

[2018-07-17 17:11] AndreasChristianson commented on #58
No, I haven't tried that. Will do! If it works I may send you a pr with a readme change

[2018-07-18 17:34] AndreasChristianson commented on #58
Works great. I sent you a pr for the readme: https://github.com/pinojs/hapi-pino/pull/59

[2018-07-18 17:34] #58 closed

[2018-08-07 21:41] wraithgar opened #61 "Pretty print in 5.0.0 is broken"
If I run with prettyPrint set to true I get an exception saying

[code]

I don't think there are any tests actually testing prettyPrint, it's only used in a test that ensures the config object isn't being mutated.

[2018-08-08 12:26] mcollina commented on #61
Thanks for catching this. Turns out we have a bug in pino, but a follow up will be needed here as well.

[2018-08-08 12:26] mcollina commented on #61
See https://github.com/pinojs/pino/pull/474

[2018-08-09 14:41] #61 closed

[2018-08-14 03:54] robmcguinness opened #62 "Issue with overrideDefaultErrorSerializer"
When I pass an instance of `pino` into `hapi-pino` with custom serializers, the serializer lookup `logger[serializersSym].err` https://github.com/pinojs/hapi-pino/blob/master/index.js#L35 fails with **Cannot read property `err` of undefined**. It appears that if `options.instance` and `hapi-pino` use two separate dependencies of `pino` (possible in monorepo structure), the lookup fails because the

[2018-08-14 08:34] mcollina commented on #62
You should use hapi-pino v4 with pino v4, and hapi-pino v5 with pino v5. I'll add some checks so that this is properly tested and error correctly.

[2018-08-14 11:46] robmcguinness commented on #62
Hi @mcollina,

I noticed this issue after upgrading to `v5` of `pino` and `hapi-pino`.  I'll try and setup a sample monorepo replicating the issue.

[2018-08-14 13:32] mcollina commented on #62
No need, I understand what’s the problem. I’ll release a fix later
today/tomorrow.
Il giorno mar 14 ago 2018 alle 13:46 robert mcguinness <
notifications@github.com> ha scritto:

[2018-08-14 21:53] #62 closed

[2018-08-14 21:56] mcollina commented on #62
Should be fixed in pino v5.1.0. Update your dependencies and let me know.

[2018-08-16 14:47] robmcguinness opened #63 "response logEvents should honor ignorePaths"
It seems `ignorePaths` is only used when `logEvent` is `request` but would be beneficial when the log event is `response` as well. Like the **README** states, ignoring certain paths can reduce the noise in the logs for health check routes (Kubernetes pings a service quite frequently for health check routes).

If this sounds good I can submit a PR when time permits.

[2018-08-16 15:30] mcollina commented on #63
Go for it!
Il giorno gio 16 ago 2018 alle 16:49 robert mcguinness <
notifications@github.com> ha scritto:

[2018-08-24 23:50] geforcesong commented on #52
this is stupid documentation

[2018-08-25 10:38] mcollina commented on #52
@geforcesong, I've censored your comment. Please be polite.

[2018-08-29 14:06] devourment77 opened #65 "App crashing with pino 5.x and prettyPrint"
Hello,

I have a lot of large JSON objects being logged to stdout and I have been getting the following inconsistently:

[code]

Assuming it is related to pino 5.x update the sonic boom streaming switch?

Here is my plugin config:

[code]

[2018-08-29 14:11] mcollina commented on #65
Which operating system are you in?

[2018-08-29 14:19] mcollina commented on #65
Does it happen in dev or in production? pretty-print or not? Are you piping the output or it just goes to the TTY.

[2018-08-29 14:26] mcollina commented on #65
Can you also check if it happens without nodemon?

[2018-08-29 14:27] devourment77 commented on #65
on it! will keep you posted.

[2018-08-29 15:29] mcollina commented on #65
Can you please verify that https://github.com/mcollina/sonic-boom/pull/12 fixes it?

[2018-08-29 17:04] devourment77 commented on #65
**nodemon**
Happened w/o nodemon.

**prettyPrint**
I only saw it happen with pretty print enabled, was not able to replicate with pretty print off. (manually testing, didn't write a script or anything so it could still be possible and I just didn't hit it).

**sonic-boom #12**
Copy pasta'd the file to node_modules locally and so far so good.  Will keep it in for the rest of the day to see if I hit

[2018-08-30 10:47] mcollina commented on #65
@devourment77 what's the status? Is this working fine?

[2018-08-30 12:43] devourment77 commented on #65
So far so good (using https://github.com/mcollina/sonic-boom/pull/12 in node_modules locally).

[2018-08-30 15:40] mcollina commented on #65
I've released the fix as sonic-boom@0.6.1.

[2018-08-30 15:40] #65 closed

[2018-09-07 08:33] #63 closed

[2018-09-14 02:31] robmcguinness commented on #10
@davidmarkclements can this issue be closed now that `fast-redact` is integrating into pino?

[2018-09-14 08:23] #10 closed, assigned to nobody

[2019-01-19 18:33] hueniverse opened #69 "Support for hapi v18"
https://github.com/pinojs/hapi-pino/blob/master/index.js#L118

`request.info.responded` is now only set for successful responses. `request.info.completed` is a new value that is always set. A backwards-compatible way to implement this is to use `completed` when available, otherwise `responded`.

In addition, changes to `request.url` might require other adjustments.

[2019-01-21 21:59] mcollina commented on #69
I did some quick check, and our tests are 100% passing with Hapi v18 which is not that encouraging.

Can you please clarify what a "successful response" means in this context? Will the `'response'` event
be fired for failed requests?

(I'm sorry for the long delay, but I'm under an intense travel schedule)

[2019-01-22 08:50] felixheck commented on #69
Adding/improving the tests has been on my agenda for months — but haven't had much time yet :/
But it's worth like we see in this case.

[2019-01-22 10:59] hueniverse commented on #69
The `response` event always fires. No changes there. What changed is that when it is fired, if the request was closed/aborted by the client before the response was fully sent back, `request.info.responded` will  no longer be set. If you add a test for client disconnections, you will see the issue.

[2019-02-01 09:39] felixheck commented on #69
Since #71 is merged and released as [`5.4.0`](https://github.com/pinojs/hapi-pino/releases/tag/v5.4.0), I'd close this issue.

[2019-02-01 09:39] #69 closed

[2019-02-24 03:32] andreisoare commented on #56
How exactly could we enable logging the response body? This is useful at least for development (disabled in prod).

`res: request.raw.res` seems to be hardcoded and I can't figure out a way around that.

[2019-02-24 11:26] mcollina commented on #56
As Dave said, you need to specify a custom serializer for res: http://getpino.io/#/docs/api?id=serializers-object.

It would be awesome to get a PR to add this in the docs.

[2019-03-11 10:54] felixheck opened #73 "PreHandler Usage"
Hi there 👋

I was wondering how to utilize [prehandler](https://hapijs.com/api#route.options.pre) with `pino`/`hapi-pino`. Currently it's not possible because the `req` gets bound [too early](https://github.com/pinojs/hapi-pino/blob/master/index.js#L72-L79).

How's your opinion on a PR like one of those:

1. Check at [`onResponse`](https://github.com/pinojs/hapi-pino/blob/master/index.js#108) & [`

[2019-03-11 12:00] mcollina commented on #73
Can you make an example of what you are trying to achieve?

[2019-04-18 14:49] ryanhallcs opened #74 "Why log a 'warn' when a handler throws an exception?"
The readme correctly asserts the logger issues a log of a thrown error with the level `warn` (also see: https://github.com/pinojs/hapi-pino/blob/master/index.js#L81-L87)

I'm wondering the reason behind this, because I need to discern which logs to transport for proper error processing (i.e. needing to send to a system like Sentry or Raygun, or even simple log filtering for errors by level) - and

[2019-04-19 08:15] mcollina commented on #74
I don’t remember. There might be a rationale, but it has been lost in the years.
Would you like to send a PR?

[2019-04-22 13:25] ryanhallcs commented on #74
@mcollina - I know how that goes :) pr submitted

[2019-04-26 21:00] quantumdream opened #78 "Deprecation warning because of new scoped hapi packages"
Since all hapi packages are now hosted under the new hapi scope, we get a deprecation warning when installing hapi-pino, I prepared a pull request that fixes the issues and updates every package with the correct scoped version.

See #77

This is probably my first real pull request to an open source project so please let me know if I made any mistakes.

[2019-05-16 17:09] #74 closed

[2019-05-21 20:18] #78 closed

[2019-07-08 22:53] fvalmeida opened #80 "Unable to log `request` event when using `response.failaction` set to log instead of throw an error.."
Hapi allows you to choose what to do when response validation fails by setting response.failAction. (ref.: https://hapijs.com/tutorials/validation#failaction)

When we set that option to:

![image](https://user-images.githubusercontent.com/501994/60847406-6fd6ea00-a197-11e9-800c-c273fa135b37.png)

the current way that `hapi-pino` is set to log requests which have the `event.channel` set to `intern

[2019-07-09 07:27] mcollina commented on #80
What will be the best course of action to fix this?

[2019-07-09 16:06] fvalmeida commented on #80
I believe we have the following options:

- we can programmatically add more "internal" options tags to be logged, not only the `accept-encoding`

- we can include the internal options tags as part of the configuration object

I would prefer the last approach.

Let me know if you agree or have a different approach and then I could help to provide the PR for that.

[2019-07-09 16:28] mcollina commented on #80
the latter would be be better for me

Il giorno mar 9 lug 2019 alle 18:06 Felipe Vieira Almeida <
notifications@github.com> ha scritto:

[2019-07-20 09:13] #73 closed

[2019-08-15 08:48] mitra42 opened #82 "Dependency warning on old version of hapi"
We are seeing a deprecation warning from hapi-pino which people including our package are complaining about :-)
[code]

[2019-08-15 08:51] mcollina commented on #82
Would you like to send a PR?

[2019-08-15 09:10] mitra42 commented on #82
Out of my skill level - I've never touched your code so don't know if the dependency is intentional or not - our package is importing ipfs which is importing yours which is generating the warning, I'm happy to fix problems in ours but this is two levels deep in unknown code !

[2019-08-15 09:15] mcollina commented on #82
@mitra42 I don't have a clue either on what was changed in hoek. I'm not directly using this module and I do not have this issue. Somebody should:

1. fork this repo
2. update that dep
3. check if tests are passing, and fix them if not
4. send a PR

There is always a first time for contributing to open source! :)

[2019-08-15 09:18] mitra42 commented on #82
Far from first time - got approx 16k lines in the packages I maintain on github, just not going to mess with someone else's package on something like this as I know how long it takes to get a working testing environment for anyone;s package !

[2019-09-02 11:42] Akumzy commented on #82
I have created  a pull request [fixed](https://github.com/pinojs/hapi-pino/pull/83)

[2019-09-02 12:43] #82 closed

[2019-09-02 12:43] mcollina commented on #82
This has been released.

[2019-09-21 15:27] Akumzy opened #84 "Cannot read property 'info' of undefined"
I have been getting this error whenever I refresh my Apollo graphql playground and based on the error trace `request.logger` inside `tryAddEvent` function (request completes ) is undefined
[code]

[2019-09-24 13:42] mcollina commented on #84
Can you send a PR with a unit test?

[2019-10-04 17:14] BlooJeans opened #86 "Feature suggestion: add optional getChildBindings(request) to options instead of hardcoding .child({ req: request })"
Currently `hapi-pino` does
[code]
and
[code]
which causes `req` to be included by default to _every_ call to pino.

My suggestion is to add an optional method to the hapi-pino options object, `getChildBindings(request)` (open to suggestions for a better name), which lets you customize the bindings attached to the child logger. The current behavior of automatically adding the `req` to the Pino chil

[2019-10-04 17:16] mcollina commented on #86
Give it a shot and send a PR! Seems useful! I prefer the second implementation.

[2019-10-15 14:03] #86 closed

[2019-10-18 18:31] rayko92 commented on #84
Hi, same errror here. Any fix/idea?

[code]

I tried the #85 and work good. But I don't know if this is valid or not.

[2019-10-18 20:12] Akumzy commented on #84
Yeah I've been very busy. I'll try and write a test for it and resubmit pr

[2019-11-11 16:10] indreek opened #91 "Req element twitce with hapi."
Any ideas why im getting req twice in logged json?

[code]

[2019-11-11 16:22] indreek commented on #91
[code]

[2019-11-12 14:02] indreek commented on #91
Probably it comes from Pino https://getpino.io/#/docs/child-loggers?id=duplicate-keys-caveat

[2019-11-13 09:33] indreek commented on #91
Hi

It was still bothering me.

[code]

quick fix for this in my opinion is to change options:
[code]

[2019-12-11 12:44] rossanthony commented on #80
@fvalmeida curious if you ever tried this out? Or if you found an alternative way to log validation errors? I also require the same functionality and am willing to have a go raising a PR for this, if you no longer have the time or need for it.

[2019-12-11 21:38] tuckbick opened #94 "Redacting "responseTime" leads to invalid JSON"
In the configuration options below, `responseTime` is a redacted path:
[code]

This results in a log that contains invalid JSON (see `undefined`):
[code]

I recognize that this is probably a `pino` issue, but it's only occurring for me when redacting `responseTime`, a value calculated in `hapi-pino`.

I believe the issue has to do with the `stringifier` in `pino` [here](https://github.com/pinojs/p

[2019-12-12 22:14] mcollina commented on #94
There might be some bugs! Would you like to upload an example that reproduce the problem? Also, sending a PR would be handy.

I think this might be a bug in https://www.npmjs.com/package/fast-redact.

cc @davidmarkclements

[2019-12-13 21:53] tuckbick commented on #94
I wouldn't expect any software to be completely free of bugs 😁
Here's a repo here that reproduces the problem: https://github.com/tuckbick/test-hapi-pino
This could also be a problem in `pino-pretty`, as this only occurs while piping stdout through `pino-pretty` instead of using the `prettyPrint` option.

[2019-12-13 22:51] mcollina commented on #94
I’m failing to understand how using prettyPrint internally can avoid this. Anyway, it seems you have identified where there is a bug.. would you like to send a PR to pino to fix?

[2019-12-15 21:53] tuckbick commented on #94
Yep, sure thing. I'll try to get PR together this week!

[2019-12-27 05:37] tuckbick commented on #94
Haven't gotten to a PR yet -- not quite sure where to put a fix yet. However, I've done some investigation:

- When `pinoPretty: true`, `pino` does some programmatic redaction [here](https://github.com/pinojs/pino/blob/d54a01788f0eef4892322a48d461b777ef162182/lib/tools.js#L237), stringifying the object, thus removing `undefined` properties.
- Otherwise, when `pinoPretty: false`, the object is logg

[2019-12-27 08:53] mcollina commented on #94
You need to add another `if` in https://github.com/pinojs/pino/blob/master/lib/tools.js#L107 to handle the case that `value` could be `undefined` and in that case not include the key as well.

[2019-12-28 08:07] tuckbick commented on #94
Thanks for the direction! Please see the submitted PR.

[2020-01-03 21:56] ebickle opened #95 "Set pino as a peerDependency and pino-pretty as an optionalDependency"
In the next 'breaking change' release, would it be possible to modify the package.json dependencies to use peer dependencies instead of direct dependencies?

- Having `pino-pretty` as a required dependency doesn't match the core pino documentation which states it generally should not be installed for production builds. `hapi-pino` does not appear to take a dependency on `pino-pretty`.
- Having `pi

[2020-01-05 16:35] mcollina commented on #95
Having an optionalDependency will have pino-pretty installed anyway, leading to no benefit at all. I’ll drop the dependency completey in the next major release.

As for having pino as a peerDependency, peerDependencies have different behaviors on different versions of npm. I don’t think it should be used.

[2020-02-05 18:14] DiegoRBaquero commented on #84
Also getting this error. Why could this happen? somewhere between request and response `request.logger` is modified/replaced?

[2020-02-05 19:32] ben833 commented on #84
How to replicate:

1. in hapi server's options, set ```load: {
                sampleInterval: 1000,
                maxEventLoopDelay: 1
            }```
2. start the server
3. perform a manual API call for any route (e.g. using CURL/postman)

You get an error like this
[code]

[2020-02-05 20:59] aorinevo commented on #91
We are seeing the same error as well.

@indreek, have you been able to identify the root cause?

[2020-02-05 21:16] aorinevo commented on #91
Well, looks like the link right above says it all.

Thanks for sharing this :)

[2020-02-06 06:46] #84 closed

[2020-03-11 21:49] GoPro16 opened #98 "Question | Hapi Pino Decorates Server Object with Logger as a Function"
Had a quick question as to the reason the `logger` is decorated onto the server as a function returning the logger vs. just decorating the server object with the logger instance itself. However, the logger object on the `request` is not a function.

Example (feature request):
[code]

https://github.com/pinojs/hapi-pino/blob/2d57bb6f0b186fa8212f84dc42e91ab2b8f95d8a/index.js#L83

In our microservice

[2020-03-12 08:58] mcollina commented on #98
I don't think any good reason for this, and git blame points to the initial commit.

I think it's because the docs states the signature is

Note that it is `method`.

Does it work with objects too? In case, would you like to send a PR?

[2020-03-12 13:07] GoPro16 commented on #98
Sure! Sadly it will be breaking change but I think it will help clear up some confusion when people have to mix and match the server logged and request logged destructures

[2020-03-19 22:04] antonsamper commented on #91
I'm using version `6.5.0` and I'm seeing duplicate values in my logs:

[code]

[2020-03-24 17:34] selvaganapathi5995 opened #100 "Just a question."
Could you guys please explain the below functionality in detail.

**options.stream Pino.DestinationStream
Default: process.stdout
the binary stream to write stuff to**

[2020-03-25 08:45] mcollina commented on #100
I don't really understand this question. The code is Open Source, and it's all easily browsable. The docs are also clear for me: http://getpino.io/#/docs/api?id=pino-destination.

[2020-03-25 08:45] #100 closed

[2020-04-12 09:47] #98 closed

[2020-04-27 20:37] stevendesu commented on #95
Technically optional dependencies can be avoided in production using the `--no-optional` flag

Although in [pino's own `package.json`](https://github.com/pinojs/pino/blob/master/package.json) they list `pino-pretty` as a **dev dependency**. I think this is the proper way to go.

Regarding @ebickle 's suggestion to make `pino` a peer dependency, that's actually not the intended use for peer depende

[2020-05-13 21:06] osukaa opened #102 "Not handling correctly `request.url` being undefined"
Starting with Hapi@18, all extensions on the`onRequest` event need to handle that [`request.url` might be undefined](https://github.com/hapijs/hapi/issues/3871).

We recently had a problem with hapi-pino, because the `isLoggingIgnored` functions threw a type error.

[code]

[2020-05-14 08:50] #102 closed

[2020-05-19 08:06] lioaslan opened #104 "Example code"
I try to run example code but I get
[code]
Thanks for any helps

[2020-05-19 08:32] mcollina commented on #104
Which version of Hapi are you using?

[2020-05-19 08:36] lioaslan commented on #104
[code]

[2020-05-19 08:46] mcollina commented on #104
I cannot reproduce, the example runs just fine.

[2020-05-19 10:27] lioaslan commented on #104
I can run example by replace `require('.')` by `require("hapi-pino")`. Thanks for reply

[2020-05-19 10:27] #104 closed

[2020-05-21 07:23] lioaslan opened #105 "Is it possible to send log from hapi-pino to elasticsearch"
Hi, I'm working on a project using `hapi-pino` for logging in json.
I try to use `pino-elasticsearch` to ship log to elasticsearch but it don't work like I want.

-  `request.log([tags], data)`: Elasticsearch can get **first** tag, nothing else

- `request.logger.info/warn/error(message)`: Elasticsearch can't get this log type.

However, I use `pino` like example in `pino-elasticsearch` and it wor

[2020-05-21 08:57] mcollina commented on #105
@delvedor can you help?

[2020-05-21 08:59] delvedor commented on #105
Hello! Which version of Elasticsearch are you using?
Can you add here the pino-elasticsearch configuration and your index mappings?

[2020-05-21 09:06] lioaslan commented on #105
- I'm using Elasticsearch with 7.6.2 version
- Here is pino-elasticsearch configuration and integrate to hapi-pino:
[code]
Thanks so much

[2020-05-21 09:12] delvedor commented on #105
Can you also paste here the Elasticsearch index mapping? You can get it with the following command:
[code]

I would also recommend to not use the `ecs` option in `pino-elasticsearch`, but use [@elastic/ecs-pino-format](https://github.com/elastic/ecs-logging-js/tree/master/loggers/pino) instead.

[2020-05-21 09:16] lioaslan commented on #105
Elasticsearch index mapping:
[code]

[2020-05-21 09:27] delvedor commented on #105
There is an error in your configuration, you set `'es-version'` to `'7.6.2'`.
It should be `7`, only the major version number.
Also, you don't need to configure the type, as it's no longer supported in Elasticsearch v7.

[2020-05-21 09:47] lioaslan commented on #105
- I try fixing `'es-version'` and remove `type` but it still doesn't work.
- If I use `@elastic/ecs-pino-format`, how to config it with `hapi-pino`?

[2020-05-21 10:07] delvedor commented on #105
You should use Pino v6, then I think the following should work:
[code]

[2020-05-21 10:20] lioaslan commented on #105
Thanks so much, it worked
I create an instance of Pino with elasticsearch stream and put it into hapi-pino config
[code]

[2020-05-21 10:20] #105 closed

[2020-05-23 17:11] simon-lorenz opened #106 "Usage example does not work"
While trying hapi-pino for the first time, I found some Issues in the Usage example:

1. `const Hapi = require('hapi')` should be `const Hapi = require('@hapi/hapi')`
2. `plugin: require('.'),` didn't work for me, `plugin: require('hapi-pino'),` did
3. I don't know what `require('make-promises-safe')` is for, it seems to be not necessary and isn't explained.

Tested with hapi 19.1.1 and hapi-pino

[2020-05-23 18:14] mcollina commented on #106
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-05-23 18:52] simon-lorenz commented on #106
I sent a PR but I don't know how I would unit test a README file.

[2020-05-24 08:49] #106 closed

[2020-06-05 18:23] ncjones opened #108 "Hapi proxy request error logged directly to console"
A bug in my Hapi H2o2 proxy mapUri function meant a header was being set as `undefined` and triggered an uncaught error internally in Hapi. This error was logged directly to the console without passing through Pino.

Example log message:

[code]

The workaround is to disable Hapi debug mode (https://hapi.dev/api/?v=19.1.1#server.options.debug):

[code]

Hapi-Pino should be writing _all_ logs out a

[2020-06-05 18:25] mcollina commented on #108
Is this possible to disable that `debug` mode programmatically? Would you like to send a PR to do so?

[2020-06-05 18:31] ncjones commented on #108
I don't think so: https://github.com/hapijs/hapi/issues/2973

[2020-06-06 12:50] #108 closed

[2020-06-06 19:31] mikeburgh commented on #80
If anyone else stumbles onto this, the following works to get these errors logged:

[code]

[2020-06-06 21:03] mcollina commented on #80
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-06-09 07:52] iwilsonlee opened #110 "How to customize the log format?"
Hi guys,
How to customize the log format in this plugin? Now the log time format is the timestamp, and I want to convert it to the customize formatter, who can tell me how to do this?
thanks for the help.

[2020-07-12 04:12] ncjones opened #111 "Logging non 5xx error details"
Hapi-pino should log the error details for any uncaught error regardless of what status code the response is mapped to. For example, if a route handler throws `Boom.forbidden('Some Reason')` then the log for the response should include the error details just as it does when an unknown error is thrown such as `throw Error('Some Reason')`.

The Hapi request event docs state that any uncaught error r

[2020-07-12 07:42] mcollina commented on #111
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-26 21:49] paulovieira commented on #26
The `ignorePaths` option is useful for sure (another typical use case would be paths relative to static files). But it could be a bit more useful if the path could be given with a wildcard. Exemple:
[code]

In this case the comparison could be done with `startsWith` instead of equality.

[2020-07-27 16:45] paulovieira opened #112 "proposal for a new option: ignoreFunc"
Currently hapi-pino provides `ignorePaths` and `ignoreTags`. They are useful to a certain degree, but for some cases it's still impossible to silent hapi-pino for some routes.

The use case I have in mind are routes for static files (which are usually defined with `path: /foo/bar/{file*}`). I want those to be silent. I can add a tag to these routes and use that tag in `ignoreTags`. That will work

[2020-07-30 14:22] mcollina commented on #112
Sure thing, send a PR. Remember to add unit tests

[2020-08-05 14:59] illarionvk commented on #111
As temporary solution in my projects, I add my own 'response' event listener and log an additional line for the request if it responded with 4xx status code.

I log either the error at the `response._error` property or the response body if it is an object using [`response.source` property](https://hapi.dev/api/?v=19.2.0#-responsesource):

[code]

[2020-08-10 18:21] rtrys opened #113 "Not handling correctly `request.url` when inject an invalid URL"
We recently had a problem with hapi-pino, because hapi is unable to create the `request.url` object when the URL is invalid, see this [gist](https://gist.github.com/rtrys/d7a4b3ad586654f129eea9ee64b9a1fd)

Related to #102

[2020-08-10 18:45] rtrys commented on #113
the node process is crashing when it happens, here are logs
[code]

[2020-08-11 16:39] #113 closed

[2020-08-14 12:09] #112 closed

[2020-08-17 08:30] lioaslan opened #118 "Convert log"
Hi,
I'm using hapi-pino for logging but I don't know how I can map the field contain IP with location to new field (or overwrite IP field).
In other words, I want to customize log and maybe use middleware (for mapping IP to locaiton) on process,

### Current
[code]
### What I want
[code]

Thanks

[2020-08-17 08:37] mcollina commented on #118
See https://getpino.io/#/docs/api?id=formatters-object

[2020-08-17 08:37] #118 closed

[2020-08-18 12:13] henrikdahl opened #119 "Publish v0.8.2"
Any plans to publish `v0.8.2`? We're using the GitHub branch right now in our npm.

[2020-08-20 07:15] mcollina commented on #119
Shipped, sorry

[2020-08-20 07:15] #119 closed

[2020-08-29 17:18] veerugp opened #120 "Question: How to send the JSON logs from hapi-pino to an external end point url?"
In good-http, we can configure the end point, to which logs can be sent. Similarly, How to send the JSON logs from hapi-pino to an external end point url?

Thanks

[2020-08-30 13:04] mcollina commented on #120
Read up https://getpino.io/#/docs/transports

[2020-08-30 13:04] #120 closed

[2020-08-30 18:17] veerugp commented on #120
@mcollina, This helps. Thanks

[2020-08-30 18:24] veerugp opened #121 "Question:How to get the response body in hapi-pino logs?"
My code is a follows:
[code]
Logs are as shown as below:
[code]

Response body is showing as ```"res":{}```

How to get the response body value, which is ```{'test':'Resp Msg'}```

[2020-10-07 05:34] kungfutse commented on #110
I haven't tried, but looking at the documentation, you might be able to do it using pino's log formatting: https://github.com/pinojs/pino/blob/HEAD/docs/api.md#log. You would have to create the pino instance yourself and pass it to hapi-pino as instance as I don't think that hapi pino supports customizing the formatters in the plugin registration options. This would be a nice feature though

[2020-10-10 21:46] #57 closed

[2020-11-22 10:32] abeluck commented on #121
The docs say this about the `logPayload` option:

So it seems to be to be intended that only the request payload is logged, not the response.

However I'd also like to be able to log the response payload for troubleshooting purposes.

[2021-01-03 00:51] paulrobello opened #126 "Question: How to redact request payload field when logPayload = true"
I tried something like below, however the password field is still logged when the json object is POSTed to the route.
POST BODY
{"username": "the man", "password":"secret"}

const loggerOptions: HapiPino.Options = {
    prettyPrint: process.env.NODE_ENV !== 'production',
    redact: ['req.headers.authorization', 'req.payload.password'],
    logPayload: true,
    logRouteTags: true,
    ignorePaths

[2021-01-03 09:37] mcollina commented on #126
the payload is logged as `payload`, not `req.payload`.

[2021-01-03 09:37] #126 closed

[2021-01-08 17:42] SeRodrigalvarez commented on #121
You can do this with a formatter:

`
import _ from "lodash";

const plugin = {
    plugin: require("hapi-pino"),
    options: {
        formatters: {
            log(object: any) {
                const body = _.get(object, "req.response.source");

                if (body) {
                    return {
                        ...object,
                        body,
                    };

[2021-01-08 17:50] SeRodrigalvarez opened #127 "Redact paths doesn't allow hyphens"
I'm trying to redact a header field which has a hyphen:

[code]
But i'm getting the following error:  `pino – redact paths array contains an invalid path (auth-token)`

[2021-01-08 18:09] felix-adnymics commented on #127
Hi @SeRodrigalvarez 👋

Hyphens are actually supported, just in a different way.
That's more obvious when we have look at the part of `fast-redact` that actually throws the error:
https://github.com/davidmarkclements/fast-redact/blob/master/lib/validator.js#L24-L32

![image](https://user-images.githubusercontent.com/70569061/104049206-dd2c6680-51e4-11eb-8bb4-365f98a71e07.png)

Based on the [docs](h

[2021-01-08 18:12] felixheck commented on #127
Hi @SeRodrigalvarez 👋

Hyphens are actually supported, just in a different way.
That's more obvious when we have look at the part of fast-redact that actually throws the error:
https://github.com/davidmarkclements/fast-redact/blob/master/lib/validator.js#L24-L32

![image](https://user-images.githubusercontent.com/14093205/104049526-62178000-51e5-11eb-908a-2c4ea6fc6e11.png)

Based on the [docs](htt

[2021-01-08 18:17] SeRodrigalvarez commented on #127
Hi @felixheck

It works! Thanks for the quick response and explanation!

[2021-01-08 18:21] #127 closed

[2021-01-08 21:24] chrisshiplet opened #128 "Logging information from user credentials"
It's useful for me to be able to access a user's ID or email address when investigating errors reported from our Hapi project. This metadata is in Hapi's `request.auth.credentials` object, so using `hapi-pino` I can access that information for request logs with a custom serializer since they include the `req` object. However, for error logs, the `req` object does not seem to be included at all.

T

[2021-01-09 12:44] mcollina commented on #128
Great idea!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

This has some GDPR implications and I prefer not to release something that could cause issues for users.

[2021-01-29 16:26] muuhoffman commented on #26
I was still struggling with this and this worked well for me in the `pino-http` or `express-pino-logger` (which just uses `pino-http`) library:
[code]

[2021-02-03 17:44] rgov opened #129 "Is a default failAction needed to log errors?"
I'm completely new to Hapi, I'm just trying to contribute to another project that uses it.

If I am using `hapi-pino`, is it useful to have a default `route.options.response.failAction` like the following:

[code]

Or without this default `failAction`, will errors still be captured by `hapi-pino`?

[2021-02-04 08:20] mcollina commented on #129
I do not know. I'm not really an Hapi user myself anymore.

[2021-02-08 13:08] felixheck commented on #129
IIRC errors are captured even without `failAction`, e.g. in case of internal server errors, internal `accept-encoding` errors, or failed requests. In such cases, the event's error object is available via the `err` property.

[2021-02-12 06:28] fcesgpfedef commented on #121
very helpful. Thanks

[2021-02-12 11:49] fcesgpfedef opened #130 "How to capture the request startTime in hapi-pino."
We are getting responsetime in the log. If I can get the startTime of the request I can process the endtime by adding responsetime to start time.

Is there a parameter in options that I can enable to log request  startTime ?
Please give the example code snippet if available.. Thanks

[2021-02-12 14:09] felixheck commented on #130
Hey!

The logged `responseTime` is calculated by `hapi-pino` based on three properties of the `request` object.

[code]

As `req.info.completed` & `req.info.responded` (end time) and `req.info.received` (start time) are part of the logged `req` property, you should be able to access & log the end time using [a custom serializer](https://github.com/pinojs/hapi-pino#optionsserializers--key-string-pi

[2021-02-12 16:01] VirgileD commented on #110
Yes, in fact you can, just put the pino option you need in the hapi-pino options. Hapi-pino options are given to pino as options there: https://github.com/pinojs/hapi-pino/blob/44cbdec76cb29df2d8e90a4efd35a206b7b02133/index.js#L51

[2021-02-12 17:04] fcesgpfedef commented on #130
Hi,

Thanks so much for the prompt response. I tried with serializers but couldn't find any proper examples or documenttaion on how to use them. So used formatters and able to capture the req.info

[code]

[2021-02-15 08:25] #130 closed

[2021-02-15 16:20] fcesgpfedef opened #131 "How to pipe/send hapi-pino log to transform stream"
Hi,
I am trying to pipe hapi-pino logged data(stdout) to transform stream, couldn't find proper examples or documentation on how to do this. Any help is deeply appreciated. Pasting code here

[code]

I am expecting the streamed data should come in the console of transform function.

[2021-02-16 06:35] fcesgpfedef commented on #131
I got the solution,

`stream : arrayToObject  `

[2021-02-16 06:35] #131 closed

[2021-02-16 15:33] midnightcodr opened #132 "Not able to set log level during runtime"
[code]
failed with `unhandledRejection server.logger.level is not a function`, so it seems `logger` is not a vanilla instance of the Pino? Because logger.level exists in it. Any plan to add `.level()` call?

[2021-02-17 08:20] mcollina commented on #132
I don't really use this module much anymore. I'll be happy to review a PR if you'd like to send one.

[2021-02-17 13:22] midnightcodr commented on #132
Sure, here's one https://github.com/pinojs/hapi-pino/pull/133

[2021-02-17 21:09] #132 closed

[2021-02-23 17:12] fcesgpfedef opened #134 "Streamed data not coming as json object"
Hi ,

I am using stream option in hapi-pino. Default process.stdout is coming as

[code]

Is it possible to make hapi-pino not to send this piece of log **[1614099855531] INFO (22328 on IN-5CG032847Y): request completed** so that i can parse the rest of the data to json and perform my logic

[2021-02-24 09:27] mcollina commented on #134
Could you please add a full example to reproduce?

[2021-03-04 18:07] tuckbick commented on #94
Merged in https://github.com/pinojs/pino/pull/756

[2021-03-04 18:07] #94 closed

[2021-03-17 12:37] mdenushev commented on #91
Hello it seems to be [here](https://github.com/pinojs/hapi-pino/blob/master/index.js#L167) and `req: shouldLogRequestStart(request) || options.serializers.req ? undefined : request` does the trick

[2021-03-22 16:37] fcesgpfedef commented on #134
Hey, I just need to make prettyPrint option as `false`

[2021-03-22 16:37] #134 closed

[2021-03-24 11:44] lytaitruong opened #135 "Custom or add more property to logger in logRequestCompleted"
I've looked at the library and found can't be edit or format custom log in events 'response' when logRequestCompleted: true
log when a request completed

I try to add more field in ```request.raw.res``` but in HAPI docs say "not recommend to do it"
[code]
Why I need it: When I using ELK to trace the issue, I need to add x-request-id to know the flow of the request so it makes me terrible. So if I

[2021-03-24 15:28] mcollina commented on #135
I'm not really a Hapi user anymore, can't really help.

[2021-03-25 06:47] fcesgpfedef opened #136 "multiple registrations not allowed"
Hi,

We have written two custom plugins using `hapi-pino` for our project written on hapi20 and registered both the plugins with different options. When I am starting the server I am seeing the error `hapi-pino is already registered`. Any reason why `hapi-pino` is not supporting multiple registrations?

How can I resolve this issue in my project ? Any help is appreciated, Thanks.

[2021-03-25 14:20] mcollina commented on #136
I don't know, I'm not using Hapi anymore :(. I'm not sure this is possible with Hapi.

[2021-03-26 11:30] felixheck commented on #135
Hey @lytaitruong,
it might help to look at the source code of `laabr` — a wrapper around `hapi-pino` to make customizations to all kind of logs easier.

[2021-03-26 11:32] felixheck commented on #136
Hapi docs:
https://hapi.dev/api/?v=20.1.0#plugins

[2021-06-07 15:46] osukaa commented on #136
You can force the multiple registrations by using `once: true` when calling [server.register()](https://hapi.dev/api/?v=20.1.3#-await-serverregisterplugins-options)

[2021-09-30 10:57] Boelensman1 opened #141 "TypeError: pretty is not a function"
When running hapi-pino with prettyPrint enabled, I get the following error:

    TypeError: pretty is not a function

      at Object.write (node_modules/pino/lib/tools.js:282:25)
      at Pino.write (node_modules/pino/lib/proto.js:177:15)
      at Pino.LOG [as error] (node_modules/pino/lib/tools.js:55:21)
      at Object.listener (node_modules/hapi-pino/index.js:138:22)
      at Object.<anonymous

[2021-10-01 17:00] mcollina commented on #141
There is probably a bug somewhere in this module. I see it depends on pino-pretty and it probably shouldn't.

[2021-10-01 17:00] mcollina commented on #141
Unfortunately I have no time to dig deep, so a PR fixing it would be appreciated.

[2021-10-08 17:58] aalimovs opened #142 "prettyPrint, msg & messageKey"
With default settings of `mergeHapiLogData` being `false`, whenever you log in json:

[code]

You end up with object like:

[code]

With this structure, there is no way for [pino-pretty](https://github.com/pinojs/pino-pretty) to pick up that `data.msg` is the main message of the log, and highlight it in blue like in the image below. It doesn't work either by passing a custom `messageKey` of `data.

[2021-10-08 18:12] aalimovs commented on #141
@Boelensman1 I don't have this issue on a brand new hapi `20.2.0` and hapi-pino `8.5.0`.

I see you posted pino-pretty version of `7.0.1`. You don't need to install it separately, it's part of `hapi-pino` (though pinned to pino-pretty `^4.0.0`)

Just `npm install @hapi/hapi hapi-pino` and you're good to go.

[2021-10-28 11:30] arty-name opened #143 "Upgrade to pino@^7.0.0"
I have just started to use pino directly in addition to hapi-pino, and noticed that hapi-pino depends on an older version of pino@^6.0.0. Now I have two versions of pino in my node_modules, a situation I’d prefer to avoid.

Would it make sense to upgrade hapi-pino to use pino@^7.0.0?

[2021-11-02 22:45] markopy commented on #128
@chrisshiplet Can you explain how you included the credentials using a custom serializer? For me the `req` in the serializer seems to no actually be the hapi request object and this `request.auth.credentials` is not available.

I also tried using the `getChildBindings` option to add credentials to all request logs but it gets called to early in the request cycle when hapi has not yet populated `re

[2021-11-03 16:13] #143 closed

[2021-11-03 16:25] chrisshiplet commented on #128
Regarding the original issue here, apologies I never got time to work on it! Unfortunately I no longer work on the project this feature was required for. I also didn't consider the GDPR implications of this at the time since we're not subject to it, although I'm currently learning all about CCPA...

@markopy Sure thing! I'm not sure how useful this will be for you. I'm definitely getting the reque

[2021-11-03 16:43] arty-name commented on #143
Thanks!

[2021-11-03 22:15] markopy commented on #128
Thanks @chrisshiplet. For some reason on Hapi `20.2.1`, Pino `6.13.3` and Hapi-Pino `8.5.0` this doesn't work for me because `req` doesn't have `auth` or any of the other expected properties of the Hapi request object.

What did work though is this:
[code]
which I found via issue https://github.com/pinojs/hapi-pino/issues/121#issuecomment-756901305
I'm new to Hapi and Pino so can't really explain

[2021-11-04 17:10] aaestrada opened #145 "Node 14 read ECONNRESET error"
I'm running performance and capacity tests with [Clinic js](https://clinicjs.org/documentation/)

but when enable this `hapi-pino` library i receive the following error

`[1636045080852] INFO (23140 on MacBook-Pro-de-Aaron.local): request completed
    req: {
      "id": "1636045080846:MacBook-Pro-de-Aaron.local:23140:kvl6zrp4:12905",
      "method": "get",
      "url": "/items",
      "headers":

[2021-11-08 09:08] thefoxie opened #147 "prettyPrint is deprecated"
Project throws an error after update to 9.0.0.

[code]

[2021-11-08 09:49] mcollina commented on #147
This is not an error but a warning. Follow the instructions at https://github.com/pinojs/pino-pretty to remove it.

[2021-11-08 09:50] mcollina commented on #147
Once you figure it out, would you like to send us a PR to update our docs?

[2021-11-08 10:22] thefoxie commented on #147
Well, actually localhost crashed. 😅
[code]

Sure, I just changed prettyPrint option to false. However, I'd like to have the pretty print available. How can I use/configure pino transport/stream globally?

[2021-11-11 13:05] thefoxie commented on #147
This seems to work (taken from PR). Needs latest `pino-pretty`. This issue can be closed after the package is updated upstream and docs changed to reflect this usage.
[code]

[2021-11-24 16:14] ovhemert commented on #145
I've been running your example code and discovered the following:

The issue is not specific to [Clinic](https://clinicjs.org/documentation/), Node v14.x or your code example.
The error occurs on every implementation of `hapi-pino` (also the [example](https://github.com/pinojs/hapi-pino/blob/master/example.js) in this repo) when called with [autocannon](https://github.com/mcollina/autocannon) defa

[2021-11-25 10:28] mcollina commented on #147
Would you like to send a Pull Request to address this issue?

[2021-12-02 18:29] jonathansamines opened #150 "Include tags when hapi error events are logged"
**What problem are you trying to solve?**
When a hapi [event](https://github.com/pinojs/hapi-pino#hapievents) containing an error is logged by hapi-pino, then those errors are logged with very few context. This is specially true for server logs, where usually the context is provided by the plugin itself through the use of tags:

[code]

**What did you get?**

When the code above is executed, the a

[2021-12-28 02:06] jonathansamines commented on #150
Closing as this is now resolved by #151

[2021-12-28 02:06] #150 closed

[2022-01-26 19:55] aaestrada commented on #145
[(#149) ](https://github.com/pinojs/hapi-pino/pull/149) fixed this issue!

[2022-01-26 19:55] #145 closed

[2022-03-09 22:00] AdriVanHoudt commented on #91
Setting `getChildBindings: () => ({})` solves the issue for response logs but also gets rid of request data for `request.log` logs (being done here https://github.com/pinojs/hapi-pino/blob/master/index.js#L140).

Not sure what the right solution is to get both 🤔
* `getChildBindings: () => ({})` gets rid of doubles in response logs
* `getChildBindings: (request) => ({ req: request})` adds the reque

[2022-03-11 16:12] AdriVanHoudt commented on #91
I'm actually seeing the same thing.
Due to the double req props, Google Cloud logging seems to resolve this by adding the value twice 😅

[2022-03-11 16:19] AdriVanHoudt opened #155 "Request completed message is not super useful"
The default message for the request completed log is `request completed`.
Which is not really useful. And definitely not in logging solutions like Google Cloud log where it uses this as the message to show.
<img width="512" alt="image" src="https://user-images.githubusercontent.com/2361826/157905593-c4b7913b-995b-4c0d-87eb-4d62ab4e6ec0.png">

The workaround is to add the needed fields to the summa

[2022-03-11 21:08] mcollina commented on #155
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-03-14 11:07] AdriVanHoudt commented on #155
Will do, I opened an issue to make sure it would be accepted.

[2022-03-15 09:38] #155 closed

[2022-04-20 20:51] acofer opened #161 "`req` is no longer in response event, even if `getChildBindings: (request) => { req: request }` is provided"
https://github.com/pinojs/hapi-pino/commit/42b3df4dc81073ced07161fcda9dbf12acf39a33?ts=2#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346L179

Because `request.logger` already exists in the `if` clause just above that, the `logger.child()` will never get called with the binding that included `req`, so the response event will never have `req`, and thus there is no way to inspec

[2022-04-20 21:31] mcollina commented on #161
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-20 22:37] acofer commented on #161
Yeah, I can give it a shot tomorrow.

[2022-04-21 20:30] acofer commented on #161
Ah, sorry. That's not the bug, `req` is there. The problem is that we are adding the req.header that we need **after** the server `onRequest` event had already attached `request.logger` with the binding to `{req: Request}`, which did not have the header yet. I'll see if I can find the proper way/place to do it.

[2022-04-21 20:41] acofer commented on #161
Figured it out. In our `onPreHander` event code, I did this:
[code]

[2022-04-21 20:41] #161 closed

[2022-06-19 11:47] ghostdevv opened #169 "Recommended way to save to files"
Hiya, this is my first time using Pino so might be missing something huge here - basically I have setup `hapi-pino` and it works great however I want to persist my logs to files as to debug I would potentially have to sift through 1000s of objects to find what I am looking for. This just won't work when printing to std. Ideally I would also be able to make the log file per day but that is a nice t

[2022-06-20 15:10] #147 closed

[2022-06-20 21:17] ghostdevv commented on #169
Awesome, I got this working:

[code]

Hopefully I can figure out how to split it up into seperate files by date or something in the future as that file is going to get big fast. Thank you for your help, will close this as it's unrelated to `hapi-pino` :pray:

[2022-06-20 21:17] #169 closed

[2022-07-17 19:24] sveisvei opened #171 "Using typescript and import gives type error: No overload matches this call."
[code]

Will give type error
[code]

While getting no typescript error if using require:

[code]
[code]

[2022-07-17 20:20] mcollina commented on #171
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-18 14:28] johnboulder opened #172 "Property 'logger' does not exist on type 'Request'."
I could very well be wrong on this, but it seems like the module augmentation done on the Request object is not implemented properly.

I found myself on a journey learning about Module Augmentation recently that was sparked by what you guys are doing in this project. I noticed when trying to use the `logger` decorator in hapi plugins written in typescript, my IDE was failing to recognize the prope

[2022-08-18 15:33] mcollina commented on #172
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-25 03:13] jonathansamines commented on #171
@sveisvei I think you can use the import * syntax instead:

[code]

@mcollina I looked it up and seems like this is solvable by changing the export syntax, though from typescript docs seems like the change would not be backwards compatible (See [docs](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require)). Not really sure we can simply change this without breaking

[2022-08-25 03:17] jonathansamines commented on #172
I tried to reproduce this by adding some tests to the type definitions at #174. The existing declarations seems to work just fine. The test suit uses:

[code]

[2022-08-25 12:48] #172 closed

[2022-08-25 12:58] mcollina commented on #171
I'm not actively using this module nor typescript, so I'd defer to your best recommendation.